<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Title Page-->
	<title>Consignee - Job Order</title>

	<!-- Fontfaces CSS-->
	<link href="css/font-face.css" rel="stylesheet" media="all">
	<link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
	<link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
	<link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

	<!-- Bootstrap CSS-->
	<link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

	<!-- Vendor CSS-->
	<link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
  <link href="vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
	<link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
	<link href="vendor/wow/animate.css" rel="stylesheet" media="all">
	<link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
	<link href="vendor/slick/slick.css" rel="stylesheet" media="all">
	<link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
	<link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
	<link href="../../dist/modules/tempus-dominus/css/tempusdominus-date.css" rel="stylesheet" media="all">
	<link href="../../dist/modules/datatables/datatables.min.css" rel="stylesheet" media="all">
	<link href="../../dist/modules/sweetalerts/sweetalert.css" rel="stylesheet" media="all">
	<link href="../../dist/modules/waves/waves.css" rel="stylesheet" media="all">
	<link href="../../dist/css/animate.min.css" rel="stylesheet" media="all">
	<link href="../../dist/css/cssAll.css" rel="stylesheet" media="all">

	<!-- Main CSS-->
  <link href="css/theme.css" rel="stylesheet" media="all">
  <link href="css/custom.css" rel="stylesheet" media="all">
  <link href="css/consignee-jobOrder.css" rel="stylesheet" media="all">
  
  <!-- Page Icon -->
  <link rel="shortcut icon" href="../../dist/img/tbLogo.png">


</head>

  <body class="animsition">
    <div class="page-wrapper">
      <!-- HEADER DESKTOP-->
      <header class="header-desktop3 d-none d-lg-block">
        <div class="section__content section__content--p35">
          <div class="header3-wrap">
            <div class="header__logo">
                <a href="consignee-dashboard.html">
                  <img src="../../dist/img/tbPageLogoWhite.png" alt="TSMS" />
                </a>
            </div>
            <div class="header__navbar">
              <ul class="list-unstyled">
                <li>
                  <a href="consignee-dashboard.html">
                    <i class="fas fa-tachometer-alt"></i>
                    <span class="bot-line"></span>Dashboard</a>
                </li>
                <li class="active">
                  <a href="consignee-jobOrder.html">
                    <i class="fas fa-clipboard-list"></i>
                    <span class="bot-line"></span>Job Order</a>
                </li>
                <li>
                  <a href="consignee-contract.html">
                    <i class="fas fa-file-alt"></i>
                    <span class="bot-line"></span>Contract</a>
                </li>
              </ul>
            </div>
            <div class="header__tool">
              <div class="header-button-item has-noti js-item-menu">
                  <i class="zmdi zmdi-notifications"></i>
                  <div class="account-dropdown notifi-dropdown--no-bor js-dropdown">
                      <div class="notifi__title">
                          <p>You have 3 Notifications</p>
                      </div>
                      <div class="notifi__item">
                          <div class="bg-c1 img-cir img-40">
                              <i class="zmdi zmdi-email-open"></i>
                          </div>
                          <div class="content">
                              <p>You got a email notification</p>
                              <span class="date">April 12, 2018 06:50</span>
                          </div>
                      </div>
                      <div class="notifi__item">
                          <div class="bg-c2 img-cir img-40">
                              <i class="zmdi zmdi-account-box"></i>
                          </div>
                          <div class="content">
                              <p>Your account has been blocked</p>
                              <span class="date">April 12, 2018 06:50</span>
                          </div>
                      </div>
                      <div class="notifi__item">
                          <div class="bg-c3 img-cir img-40">
                              <i class="zmdi zmdi-file-text"></i>
                          </div>
                          <div class="content">
                              <p>You got a new file</p>
                              <span class="date">April 12, 2018 06:50</span>
                          </div>
                      </div>
                      <div class="notifi__footer">
                          <a href="#">All notifications</a>
                      </div>
                  </div>
              </div>
              <div class="account-wrap">
                  <div class="account-item account-item--style2 clearfix js-item-menu">
                      <div class="image">
                          <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                      </div>
                      <div class="content">
                          <a class="js-acc-btn" href="#">john doe</a>
                      </div>
                      <div class="account-dropdown js-dropdown">
                          <div class="info clearfix">
                              <div class="image">
                                  <a href="#">
                                      <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                  </a>
                              </div>
                              <div class="content">
                                  <h5 class="name">
                                      <a href="#">john doe</a>
                                  </h5>
                                  <span class="email">johndoe@example.com</span>
                              </div>
                          </div>
                          <div class="account-dropdown__body">
                              <div class="account-dropdown__item">
                                  <a href="#">
                                      <i class="zmdi zmdi-account"></i>Account</a>
                              </div>
                              <div class="account-dropdown__item">
                                  <a href="#">
                                      <i class="zmdi zmdi-settings"></i>Setting</a>
                              </div>
                              <div class="account-dropdown__item">
                                  <a href="#">
                                      <i class="zmdi zmdi-money-box"></i>Billing</a>
                              </div>
                          </div>
                          <div class="account-dropdown__footer">
                              <a href="#">
                                  <i class="zmdi zmdi-power"></i>Logout</a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </header>
        <!-- END HEADER DESKTOP-->

        <!-- HEADER MOBILE-->
      <header class="header-mobile header-mobile-2 d-block d-lg-none">
        <div class="header-mobile__bar">
          <div class="container-fluid">
            <div class="header-mobile-inner">
              <a class="logo" href="index.html">
                <img src="images/icon/logo-white.png" alt="CoolAdmin" />
              </a>
              <button class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
          </div>
        </div>
        <nav class="navbar-mobile">
          <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
              <li>
                <a href="consignee-dashboard.html">
                  <i class="fas fa-tachometer-alt"></i>Dashboard</a>
              </li>
              <li class="active">
                <a href="consignee-jobOrder.html">
                  <i class="fas fa-clipboard-list"></i>Job Order</a>
              </li>
              <li>
                <a href="consignee-contract.html">
                    <i class="fas fa-file-alt"></i>Contract</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="sub-header-mobile-2 d-block d-lg-none">
        <div class="header__tool">
          <div class="header-button-item has-noti js-item-menu">
            <i class="zmdi zmdi-notifications"></i>
            <div class="account-dropdown notifi-dropdown--no-bor js-dropdown">
              <div class="notifi__title">
                <p>You have 3 Notifications</p>
              </div>
              <div class="notifi__item">
              <div class="bg-c1 img-cir img-40">
                  <i class="zmdi zmdi-email-open"></i>
                </div>
                <div class="content">
                  <p>You got a email notification</p>
                  <span class="date">April 12, 2018 06:50</span>
                </div>
              </div>
              <div class="notifi__item">
                <div class="bg-c2 img-cir img-40">
                  <i class="zmdi zmdi-account-box"></i>
                </div>
                <div class="content">
                  <p>Your account has been blocked</p>
                  <span class="date">April 12, 2018 06:50</span>
                </div>
              </div>
              <div class="notifi__item">
                <div class="bg-c3 img-cir img-40">
                  <i class="zmdi zmdi-file-text"></i>
                </div>
                <div class="content">
                  <p>You got a new file</p>
                  <span class="date">April 12, 2018 06:50</span>
                </div>
              </div>
              <div class="notifi__footer">
                <a href="#">All notifications</a>
              </div>
            </div>
          </div>
          <div class="account-wrap">
            <div class="account-item account-item--style2 clearfix js-item-menu">
              <div class="image">
                <img src="images/icon/avatar-01.jpg" alt="John Doe" />
              </div>
              <div class="content">
                <a class="js-acc-btn" href="#">john doe</a>
              </div>
              <div class="account-dropdown js-dropdown">
                  <div class="info clearfix">
                      <div class="image">
                          <a href="#">
                              <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                          </a>
                      </div>
                      <div class="content">
                          <h5 class="name">
                              <a href="#">john doe</a>
                          </h5>
                          <span class="email">johndoe@example.com</span>
                      </div>
                  </div>
                  <div class="account-dropdown__body">
                      <div class="account-dropdown__item">
                          <a href="#">
                              <i class="zmdi zmdi-account"></i>Account</a>
                      </div>
                      <div class="account-dropdown__item">
                          <a href="#">
                              <i class="zmdi zmdi-settings"></i>Setting</a>
                      </div>
                      <div class="account-dropdown__item">
                          <a href="#">
                              <i class="zmdi zmdi-money-box"></i>Billing</a>
                      </div>
                  </div>
                  <div class="account-dropdown__footer">
                      <a href="#">
                          <i class="zmdi zmdi-power"></i>Logout</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END HEADER MOBILE -->

      <!-- PAGE CONTENT-->
      <div class="page-content--bgf7">
        <!-- BREADCRUMB-->
        <section class="au-breadcrumb2">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="au-breadcrumb-content">
                  <div class="au-breadcrumb-left">
                    <span class="au-breadcrumb-span">You are here:</span>
                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                      <li class="list-inline-item active">
                        <a href="#">Home</a>
                      </li>
                      <li class="list-inline-item seprate">
                        <span>/</span>
                      </li>
                      <li class="list-inline-item current">Job Order</li>
                    </ul>
                  </div>
                <form class="au-form-icon--sm" action="" method="post">
                  <input class="au-input--w300 au-input--style2" type="text" placeholder="Search for data &amp; reports...">
                  <button class="au-btn--submit2" type="submit">
                    <i class="zmdi zmdi-search"></i>
                  </button>
                </form>
              </div>
              </div>
            </div>
          </div>
        </section>
          <!-- END BREADCRUMB-->
        <section class="p-t-20">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-12 col-sm-12 col-lg-4">
                    <div class="card">
                      <div class="card-body">
                        <ul class="nav nav-pills flex-column" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="navFirstTab" data-toggle="tab" href="#firstTab" role="tab" aria-selected="true">Add Job Order</a>
                          </li>
                          <hr>
                          <li class="nav-item">
                            <a class="nav-link" id="navSecondTab" data-toggle="tab" href="#secondTab" role="tab" aria-selected="true">Created Job Orders</a>
                          </li>
                          <hr>
                          <li class="nav-item">
                            <a class="nav-link" id="navThirdTab" data-toggle="tab" href="#thirdTab" role="tab" aria-selected="false">Pending Requests<span class="badge badge-danger ml-2">17</span></a>
                          </li>
                          <hr>
                          <li class="nav-item">
                            <a class="nav-link" id="navFourthTab" data-toggle="tab" href="#fourthTab" role="tab" aria-selected="true">Ongoing Job Order /s</a>
                          </li>
                          <hr>
                          <li class="nav-item">
                            <a class="nav-link" id="navFifthTab" data-toggle="tab" href="#fifthTab" role="tab" aria-selected="false">Job Order History</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-lg-8">
                    <div class="card" id="cardJO">
                      <div id="titleJO" class="card-header bg-primary text-white text-center">
                        Add Job Order
                      </div>
                      <div class="card-body">
                        <div class="tab-content">
                          <!-- Add Job Order -->
                          <div class="tab-pane show active animated slideInRight faster" id="firstTab" role="tabpanel" aria-labelledby="navFirstTab">
                            <form class="needs-validation" novalidate="" id="formAddJO">
                              <div class="row">
                                <div class="col-12 col-sm-12 col-lg-6">
                                  <div class="form-group">
                                    <label for="addTransacDate">Transaction Date<sup class="text-primary">&#10033;</sup></label>
                                    <div class="input-group date" id="addTransacDate" data-target-input="nearest">
                                      <input type="text" class="form-control datetimepicker-input" data-target="#addTransacDate" placeholder="MM/DD/YYYY" required>
                                      <div class="input-group-append" data-target="#addTransacDate" data-toggle="datetimepicker">
                                        <button type="button" class="btn btn-outline-primary waves-effect"><i class="fa fa-calendar"></i></button>
                                      </div>
                                      <div class="invalid-feedback">
                                        Please fill in the Transaction Date.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 col-sm-12 col-lg-6">
                                  <div class="form-group">
                                    <label for="addHaulingETA">Estimated Time of Hauling<sup class="text-primary">&#10033;</sup></label>
                                    <div class="input-group date" id="addHaulingETA" data-target-input="nearest">
                                      <input type="text" class="form-control datetimepicker-input" data-target="#addHaulingETA" placeholder="21:00" required>
                                      <div class="input-group-append" data-target="#addHaulingETA" data-toggle="datetimepicker">
                                        <button type="button" class="btn btn-outline-primary waves-effect"><i class="fa fa-clock"></i></button>
                                      </div>
                                      <div class="invalid-feedback">
                                        Please fill in the Estimated Time of Hauling.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 col-sm-12 col-lg-4">
                                  <div class="form-group">
                                    <label for="cargoName1">Cargo Name 1<sup class="text-primary">&#10033;</sup></label>
                                      <input type="text" class="form-control" id="cargoName1" placeholder="Energy Moon" required>
                                      <div class="invalid-feedback">
                                        Please fill in the Cargo Name.
                                      </div>
                                  </div>
                                </div>
                                <div class="col-12 col-sm-12 col-lg-4">
                                  <div class="form-group">
                                    <label for="cargoWeight1">Cargo Weight 1<sup class="text-primary">&#10033;</sup></label>
                                    <div class="input-group">
                                      <input  id="cargoWeight1" type="number" class="form-control" placeholder="20" required>
                                      <div class="input-group-append">
                                        <span class="input-group-text">Tons</span>
                                      </div>
                                      <div class="invalid-feedback">
                                        Please fill in the Cargo Weight.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 col-sm-12 col-lg-4">
                                  <div class="form-group">
                                    <label for="addGoods1">Goods to be delivered 1<sup class="text-primary">&#10033;</sup></label>
                                      <input type="text" class="form-control" id="addGoods1" placeholder="Cooking Oil" required>
                                      <div class="invalid-feedback">
                                        Please fill in the Estimated Goods to be delivered.
                                      </div>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="float-right">
                                    <button type="button" class="btn btn-primary btn-sm text-center waves-effect btnAddFields" data-toggle="tooltip" title="Add Fields">
                                      <i class="fas fa-plus"></i>
                                    </button>
                                  </div>
                                </div>
                              <div id="firstRow" class="ml-3 mr-3"></div>
                              </div>
                              <div class="form-group">
                                <label for="addExDetails">Extra Details</label>
                                <textarea class="form-control" id="addExDetails" rows="5"></textarea>
                              </div>
                              <button class="btn btn-primary float-right waves-effect submitJO">Submit</button>
                            </form>
                          </div>
                          <!-- Created Job Orders -->
                          <div class="tab-pane" id="secondTab" role="tabpanel" aria-labelledby="navSecondTab">
                            <div class="row">
                              <div class="rs-select2--dark rs-select2--md mb-4 ml-3 sortCards">
                                <select class="js-select2" name="selectSort">
                                  <option selected="selected">Date</option>
                                  <option value="">Job Order #</option>
                                  <option value="">Name</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 col-sm-12 col-lg-6 createdCards">
                                <div class="card card-sm-2 card-primary border-primary">
                                  <div class="card-icon">
                                    <i class="ion ion-android-boat text-primary"></i>
                                  </div>
                                  <div class="card-header">
                                    <h4 class="text-primary mb-2">Job Order # 17</h4>
                                  </div>
                                  <div class="card-body">
                                    <h5>Consignee Name</h5>
                                  </div>
                                  <div class="card-footer mt-2">
                                    <a href="#" data-toggle="modal" data-target="#moreInfoModal">More Info <i class="ion ion-ios-arrow-right"></i></a>
                                    <button class="btn btn-danger btn-sm text-center float-right ml-2 waves-effect btnDeleteJO">Delete</button>
                                    <button class="btn btn-secondary btn-sm text-center float-right ml-2 waves-effect" data-toggle="modal" data-target="#JOeditModal">Edit</button>
                                    <button class="btn btn-primary btn-sm text-center float-right waves-effect btnRequestJO">Request</button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-12 col-lg-6 createdCards">
                                <div class="card card-sm-2 card-primary border-primary">
                                  <div class="card-icon">
                                    <i class="ion ion-android-boat text-primary"></i>
                                  </div>
                                  <div class="card-header">
                                    <h4 class="text-primary mb-2">Job Order # 17</h4>
                                  </div>
                                  <div class="card-body">
                                    <h5>Consignee Name</h5>
                                  </div>
                                  <div class="card-footer mt-2">
                                    <a href="#" data-toggle="modal" data-target="#moreInfoModal">More Info <i class="ion ion-ios-arrow-right"></i></a>
                                    <button class="btn btn-danger btn-sm text-center float-right ml-2 waves-effect btnDeleteJO">Delete</button>
                                    <button class="btn btn-secondary btn-sm text-center float-right ml-2 waves-effect" data-toggle="modal" data-target="#JOeditModal">Edit</button>
                                    <button class="btn btn-primary btn-sm text-center float-right waves-effect btnRequestJO">Request</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Pending Job Orders -->
                          <div class="tab-pane" id="thirdTab" role="tabpanel" aria-labelledby="navThirdTab">
                            <div class="row">
                              <div class="rs-select2--dark rs-select2--md mb-4 ml-3 sortCards">
                                <select class="js-select2" name="selectSort">
                                  <option selected="selected">Date</option>
                                  <option value="">Job Order #</option>
                                  <option value="">Name</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 col-sm-12 col-lg-6 pendingCards">
                                <div class="card card-sm-2 card-primary border-primary">
                                  <div class="card-icon">
                                    <i class="ion ion-android-boat text-primary"></i>
                                  </div>
                                  <div class="card-header">
                                    <h4 class="text-primary mb-2">Job Order # 4</h4>
                                  </div>
                                  <div class="card-body">
                                    <h5>Consignee Name</h5>
                                  </div>
                                  <div class="card-footer mt-2">
                                    <a href="#" data-toggle="modal" data-target="#moreInfoModal">More Info <i class="ion ion-ios-arrow-right"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Ongoing Job Orders -->
                          <div class="tab-pane" id="fourthTab" role="tabpanel" aria-labelledby="navFourthTab">
                            <div class="row">
                              <div class="rs-select2--dark rs-select2--md mb-4 ml-3 sortCards">
                                <select class="js-select2" name="selectSort">
                                  <option selected="selected">Date</option>
                                  <option value="">Job Order #</option>
                                  <option value="">Name</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                              </div>
                            </div>
                            <div class="row">

                            </div>
                          </div>
                          <!-- Job Order History -->
                          <div class="tab-pane animated slideInRight faster" id="fifthTab" role="tabpanel" aria-labelledby="navThirdTab">
                            <div class="table-responsive">
                              <table class="detailedTable text-center table table-striped" style="width:100%">
                                <thead class="bg-primary">
                                  <tr>
                                    <th>#</th>
                                    <th>Transaction Date</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th class="noSortAction">Action</th>
                                  </tr>
                                </thead>
                                  <tbody>
                                    <tr>
                                      <td>17</td>
                                      <td>08/08/2018</td>
                                      <td>Baseco Port Area</td>
                                      <td>Guadalupe, Makati City</td>
                                      <td style="width:20%">
                                        <div class="ml-1 mr-1">
                                          <button class="btnView btn btn-primary waves-circle waves-effect" data-toggle="tooltip" title="View Details" role="button">
                                            <i class="bigIcon fa fa-eye"></i>
                                          </button>
                                          <button class="btn btn-success waves-circle waves-effect" data-toggle="tooltip" title="Print" role="button">
                                            <i class="bigIcon fa fa-print"></i>
                                          </button>
                                        </div>  
                                      </td>
                                    </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer text-right paginateJO">
                        <nav class="d-inline-block">
                          <ul class="pagination mb-0">
                            <li class="page-item disabled">
                              <a class="page-link" href="#" tabindex="-1"><i class="ion ion-chevron-left"></i></a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li class="page-item">
                              <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#"><i class="ion ion-chevron-right"></i></a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
          <!-- COPYRIGHT-->
          <footer>
            <div class="col-md-12">
              <div class="copyright">
                <p>
                  Copyright &copy; 2018 Team Tugboat
                </p>
                <p>
                  Made with <i class="ion-heart"></i>By Development Team
                </p>
              </div>
            </div>
          </footer>
        <!-- END COPYRIGHT-->
      </div>
    </div>
    <!-- More Info Modal -->
    <div class="modal animated bounceIn fast" id="moreInfoModal" tabindex="-1" role="dialog" aria-labelledby="moreInfoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title" id="moreInfoModalLabel"><small>Job Order # 17</small><h4>Consignee Name</h4></div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row mt-2">
              <div class="col-6">
                <ul class="list-inline">
                  <li class="list-inline-item text-primary"><h6>Date of Transaction : </h6></li>
                  <li class="list-inline-item"><h6>May 4, 2018</h6></li>
                </ul>
                <ul class="list-inline">
                  <li class="list-inline-item text-primary"><h6>Estimated Time of Hauling : </h6></li>
                  <li class="list-inline-item"><h6>0730 HRS</h6></li>
                </ul>
              </div>
              <div class="col-6">
                <ul class="list-inline">
                  <li class="list-inline-item text-primary"><h6>Starting Location : </h6></li>
                  <li class="list-inline-item"><h6>PUP</h6></li>
                </ul>
                <ul class="list-inline">
                  <li class="list-inline-item text-primary"><h6>Destination : </h6></li>
                  <li class="list-inline-item"><h6>Pureza</h6></li>
                </ul>
                <ul class="list-inline">
                  <li class="list-inline-item text-primary"><h6>Goods to be delivered : </h6></li>
                  <li class="list-inline-item"><h6>Very Good</h6></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-2 text-center">
                <div class="text-primary mb-2"><h4>Extra Details</h4></div>
                <div class="border-primary">
                  <div class="mr-2 ml-2 mt-2 mb-2">
                    <p>
                        When things go wrong, as they sometimes will,
                        When the road you're trudging seems all uphill, <br>
                        When the funds are low and the debts are high, <br>
                        And you want to smile, but you have to sigh, <br>
                        When care is pressing you down a bit- <br>
                        Rest if you must, but don't you quit. <br>
                        Life is queer with its twists and turns, <br>
                        
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer show-on-created">
            <button type="button" class="btn btn-primary waves-effect btnEditJO" data-toggle="modal" data-target="#JOeditModal">Edit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Job Order Edit Modal -->
    <div class="modal fade" id="JOeditModal" tabindex="-1" role="dialog" aria-labelledby="JOeditModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="JOeditModalTitle">Edit Job Order</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" class="needs-validation" novalidate="">
              <div class="row">
                <div class="col-12 col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="editTransacDate">Transaction Date<sup class="text-primary">&#10033;</sup></label>
                    <div class="input-group date" id="editTransacDate" data-target-input="nearest">
                      <input type="text" class="form-control datetimepicker-input" data-target="#editTransacDate" placeholder="MM/DD/YYYY" required>
                      <div class="input-group-append" data-target="#editTransacDate" data-toggle="datetimepicker">
                        <button type="button" class="btn btn-outline-primary waves-effect"><i class="fa fa-calendar"></i></button>
                      </div>
                      <div class="invalid-feedback">
                        Please fill in the Transaction Date.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="editHaulingETA">Estimated Time of Hauling<sup class="text-primary">&#10033;</sup></label>
                    <div class="input-group date" id="editHaulingETA" data-target-input="nearest">
                      <input type="text" class="form-control datetimepicker-input" data-target="#editHaulingETA" placeholder="21:00" required>
                      <div class="input-group-append" data-target="#editHaulingETA" data-toggle="datetimepicker">
                        <button type="button" class="btn btn-outline-primary waves-effect"><i class="fa fa-clock"></i></button>
                      </div>
                      <div class="invalid-feedback">
                        Please fill in the Estimated Time of Hauling.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" id="firstRow">
                <div class="col-12 col-sm-12 col-lg-4">
                  <div class="form-group">
                    <label for="cargoName1">Cargo Name 1<sup class="text-primary">&#10033;</sup></label>
                      <input type="text" class="form-control" id="cargoName1" placeholder="Energy Moon" autofocus required>
                      <div class="invalid-feedback">
                        Please fill in the Cargo Name.
                      </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-4">
                  <div class="form-group">
                    <label for="cargoWeight1">Cargo Weight 1<sup class="text-primary">&#10033;</sup></label>
                    <div class="input-group">
                      <input  id="cargoWeight1" type="number" class="form-control" placeholder="20" required>
                      <div class="input-group-append">
                        <span class="input-group-text">Tons</span>
                      </div>
                      <div class="invalid-feedback">
                        Please fill in the Cargo Weight.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-4">
                  <div class="form-group">
                    <label for="addGoods1">Goods to be delivered 1<sup class="text-primary">&#10033;</sup></label>
                      <input type="text" class="form-control" id="addGoods1" placeholder="Very Good" required>
                      <div class="invalid-feedback">
                        Please fill in the Estimated Goods to be delivered.
                      </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="float-right">
                    <button type="button" class="btn btn-primary btn-sm text-center waves-effect btnRemoveFields" data-toggle="tooltip" title="Delete Fields">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm text-center waves-effect btnAddFields" data-toggle="tooltip" title="Add Fields">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="addExDetails">Extra Details</label>
                <textarea class="form-control" id="addExDetails" rows="5"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary waves-effect btnCloseEditJO" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary waves-effect">Save changes</button>
          </div>        
        </form>
        </div>
      </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js"></script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../../dist/modules/moment/moment.js"></script>
    <script src="../../dist/modules/tempus-dominus/js/tempusdominus-date.min.js"></script>
    <script src="../../dist/modules/sweetalerts/sweetalert.min.js"></script>
    <script src="../../dist/modules/waves/waves.js"></script>
    <script defer src="../../dist/modules/datatables/datatables.min.js"></script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

    <!-- Custom JS-->
    <script src="js/consignee-jobOrder.js"></script>

  </body>
</html>
<!-- end document-->