.customMatrix{
  display:none;
}
.radioMatrix, .lblquoteMatrix, .lblquoteCustom{
  cursor:pointer;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.desc a > i{
  font-size:12px;
  margin-bottom:12px;
  font-weight:200px;
}
.desc a:hover {
  text-decoration: underline;
}
.statistic__item h2{
  text-transform: uppercase;
}
.bg-primary{
  border-radius:0px;
}
.btnAcceptContract{
  cursor:not-allowed;
}
.thHeight th {
  height: 45px;
  line-height: 25px;
}
.tbodyTD td {
  height: 45px;
  line-height: 25px;
}