.haulingTab ,.tugAssistTab ,.salvageTab,.btnGoToChoices{
    display:none;
}
.LocPier ,.LocLoc{
    display:none;
}
.card-deck .card .card-img-top{
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}